<!DOCTYPE html>
<html {{sonata_seo_html_attributes()}}>
    <head {{sonata_seo_head_attributes()}}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Symfony Zero preconfigured version!{% endblock %}</title>    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <a href="{{path('homepage')}}"><img src="{{asset("bundles/app/images/emergya.png")}}" alt="Emergya"></a><p/>
                <h1>SymfonyZero based on  {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            {{ wo_render_breadcrumbs() }}
            {% block body %}
            {% endblock %}
        </div>
    </div>


{% block javascripts %}{% endblock %}


{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 14px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a, li { color: #555555; text-decoration:none; }
    
    .breadcrum a, li {display: inline-block}
    
    a:hover { text-decoration: none; }
    
    li a {font-weight: bold; color:#888888}
    
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 50%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        
    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

</body>
</html>
