{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h2>Symfony Zero bundle's selection</h2>
<h4>Click on the links to see the documentation:</h4>
<ul class="list">
    <li><a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUserBundle</a> - FOSUserBundle provides a flexible framework for user management that aims to handle common tasks such as user registration and password retrieval.(<small>click for

    {%if(app.user)%}
        <a href="{{path('fos_user_security_logout')}}">logout</a>
    {%else%}
        <a href="{{path('fos_user_security_login')}}">login</a>
            demo. You have to login as admin user (admin:admin)
    {%endif%}
    )</small></li>

    <li><a href="https://github.com/javiereguiluz/EasyAdminBundle">EasyAdminBundle</a> - EasyAdminBundle lets you create administration backends for Symfony applications with unprecedented simplicity (<small><a href="/admin">click</a> for demo. You have to login as admin user (admin:admin))</small></li>
    <li><a href="https://github.com/KnpLabs/KnpPaginatorBundle">KnpPaginatorBundle</a> - KnpPaginatorBundle is a friendly Symfony paginator to paginate everything <small>(<a href="{{path('paginator_sample')}}">click</a> for demo)</small>.</li>
    <li><a href="https://github.com/whiteoctober/BreadcrumbsBundle">WhiteOctoberBreadcrumbsBundle</a> - WhiteOctoberBreadcrumbsBundle provides a easy way to create bread crumbs.</li>
    <li><a href="https://github.com/stfalcon/TinymceBundle">StfalconTinymceBundle</a> - StfalconTinymceBundle makes it very easy to add the TinyMCE WYSIWYG editor to your Symfony project <small>(<a href="{{path('tmce_sample')}}">click</a> for demo)</small>.</li>
    <li><a href="https://github.com/raulfraile/LadybugBundle">RaulFraileLadybugBundle</a> - RaulFraileLadybugBundle provides an easy and extensible var_dump/print_r replacement for Symfony projects, both in controllers or Twig templates.</li>
    <li><a href="https://github.com/xsolve-pl/xsolve-cookie-acknowledgement-bundle">XsolveCookieAcknowledgementBundle</a> - XsolveCookieAcknowledgementBundle provides information about an cookies usage, which is forced by European Union by so-called EU cookie law.</li>
    <li><a href="https://github.com/sonata-project/SonataSeoBundle">SonataSeoBundle</a> - SonataSeoBundle provides a Site and Page management through container and block services.</li>
    <li><a href="https://github.com/KnpLabs/KnpMenuBundle">KnpMenuBundle</a> - KnpMenuBundle integrates the KnpMenu PHP library with Symfony. This means easy-to-implement and feature-rich menus in Symfony applications. <small>(The menu at the top of this web was made with this bundle)</small></li>
    <li><a href="https://github.com/LeaseWeb/LswMemcacheBundle">LswMemcacheBundle</a> - LswMemcacheBundle provides Memcache integration into Symfony and Doctrine for session storage and caching.</li>
    <li><a href="https://github.com/sonata-project/SonataIntlBundle">SonataIntlBundle</a> - SonataIntlBundle provides text and date formatting depends on locale.</li>
    <li><a href="https://github.com/miguel250/MZMailChimpBundle">MZMailChimpBundle</a> - MZMailChimpBundle is a bundle which integrates MailChimp API with Symfony Apps easily.</li>
    <li><a href="https://github.com/hwi/HWIOAuthBundle">HWIOAuthBundle</a> - HWIOAuthBundle adds support for authenticating users via OAuth1.0a or OAuth2 in Symfony2 with more of 40 different providers like Facebook, Twitter, Google... <small>You can test this functionality clicking on the <a href="{{path('hwi_oauth_service_redirect', {'service': 'google'})}}">Login with Google account</a> menu option</small></li>
    <li><a href="https://github.com/symfony/assetic-bundle">AsseticBundle</a> - AsseticBundle provides integration of the Assetic library into the Symfony2 framework.</li>
    <li><a href="https://github.com/Emergya/SymfonyZero">CarouselBundle</a> - CarouselBundle provides a carousel with images slider which you can manage from your admin panel easily <small>(<a href="{{path('carousel')}}">click</a> for demo)</small>.</li>
    <li><a href="https://github.com/dustin10/VichUploaderBundle">VichUploaderBundle</a> - VichUploaderBundle is a bundle that attempts to ease file uploads that are attached to ORM entities, MongoDB ODM documents, PHPCR ODM documents or Propel models.</li>

</ul>

    <p>Also, you can read all the features availables in our <a href="https://github.com/Emergya/SymfonyZero#features">documentation</a>.</p>

</div>
<div style='clear:both'></div>
{%endblock%}
