{% block xsolve_cookie_message %}
    <div id="cookie-law-info-bar">
        <p class='cookie-box'>
            {{ 'If you continue navigating, you accept the use of cookies'|trans({}, 'XsolveCookieAcknowledgementBundle') }} 
            <a href="#" id="cookie-law-close-button" class="btn btn-primary btn-pc">{{ 'I agree '|trans({}, 'XsolveCookieAcknowledgementBundle') }}</a>
            <a href="{{ url('cookie-policy') }}" id="cookie-law-readmore-button">{{ ' Read more'|trans({}, 'XsolveCookieAcknowledgementBundle') }}</a>
        </p>
    </div>
{% endblock %}

{% block xsolve_cookie_message_js %}
    <script type="text/javascript">
        var cookieBar = document.getElementById('cookie-law-info-bar'),
            button = document.getElementById('cookie-law-close-button');

        function hideCookieBar() {
            cookieBar.style.display = 'none';
        }

        function setCookieAccepted() {
            expiry = new Date();
            expiry.setTime(expiry.getTime()+({{ cookieExpiryTime }} * 1000 * 60 * 60 * 24));
            document.cookie = "cookie_law_accepted=1; expires=" + expiry.toGMTString();
        }

        button.onclick = function() {
            hideCookieBar();
            setCookieAccepted();

            return false;
        }
    </script>
{% endblock %}
